<!DOCTYPE html>
<html>
  <head>
    <title>YourTube</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Roboto+Condensed&family=Noto+Sans+HK&family=Roboto:wght@100;300;400;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&family=Syne+Mono&display=swap" rel="stylesheet">
    <script type="text/javascript">
      window.logoURL = "<%= asset_path('logo.svg') %>";
      window.uploadWaitURL = "<%= asset_path('toupload.gif') %>";
      window.uploadGoURL = "<%= asset_path('uploading.gif') %>";
      window.bannerURL = "<%= asset_path('image.png') %>";
    </script>
    <link rel="shortcut icon" href="https://www.youtube.com/s/desktop/4fc9328c/img/favicon.ico" type="image/x-icon">
    <meta property="og:title" content="YourTube" />
    <meta property="og:image" content="<%= image_url('YourTube.png') %>"/>
    <meta property="og:description"
      content="A full stack YouTube clone built using React-Redux, Ruby on Rails, AWS, and a Postgres database." />
    <meta property="og:url"
      content="https://yourtube-hollyphillips.herokuapp.com/#/" />
  </head>

  <body>
    <%= yield %>
  </body>
</html>
