<!DOCTYPE html>
<html>
  <head>
    <title>YourTube</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Roboto+Condensed&family=Noto+Sans+HK&family=Roboto:wght@100;300;400;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&family=Syne+Mono&display=swap" rel="stylesheet">
    <script type="text/javascript">
      window.logoURL = "<%= asset_path('logo.svg') %>";
      window.uploadURL = "<%= asset_path('upload.png') %>";
      window.bannerURL = "<%= asset_path('image.png') %>";
    </script>

</head>

  <body>
    <%= yield %>
  </body>
</html>
